*{
    padding: 0;
    margin: 0;
}
body {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0E0E0E;
}
.rancid_css {
    height: 100%;
}